/* TODO: To see what is going on with the height of the main container and why it is a few pxs bigger than the image in it. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    box-sizing: content-box;
}

body {
    margin: 0 auto;
    font-family: Montserrat, 'sans-serif';
}

header, footer {
    display: flex;
    justify-content: space-around;
    background-color: #975733;
}

header .nav_logo {
    width: 50%;
}

header nav {
    width: 50%;
}

header .nav_logo img {
    width: 80px;
}

header nav .nav_menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

header nav .nav_menu li {
    list-style: none;
}

main img {
    width: 100%;
}

section.social .social_logo {
    height: 4vh;
}