* {
  margin: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

#root section {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#root section * {
  margin-bottom: 10px;
}

#root section input:last-of-type,
#root section button:first-of-type {
  margin-left: 10px;
}

#root section button:last-of-type {
  margin-bottom: 50px;
  background-color: #2a554d;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#root section button:last-of-type:hover {
  background-color: #21433d;
}

#root section ol {
 text-align: center;
}

#root section ol li {
  width: fit-content;
}

/* ARREGLAR ESTE CSS PARA QUE FUNCIONE PARA LOS TRES ARCHIVOS USERLIST */


